@{
    ViewData["Title"] = "Perfil";
}

<h1>@ViewData["Title"]</h1>
<p>Nombre: Samuel Antonio Gonzalez Flores</p>
<p>Edad: 23</p>
<img src="~/img/Avatar.png" />
<p>Carrera: Ingeniería en Sistemas de la Información</p>